/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Nunito&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import "tailwindcss";
@source "../views";
@plugin "daisyui";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';


/* @theme {
    --font-sans: "Truculenta", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
} */


html {
    scroll-behavior: smooth;

}

body {
    font-family: "Quicksand", sans-serif;
}

.custom-banner-font {
    font-family: "Walter Turncoat", cursive !important;
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

.block {
    animation: appear 5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.pc {
    color: #07553B;
}
.bg-pc {
    background-color: #07553B;
}

.sc {
    color: #CED46A;
}
.bg-sc {
    background-color: #CED46A;
}


/* for glow border */

@keyframes border-runner {
  0% {
    border-image-source: linear-gradient(0deg, transparent, #07553B, transparent);
  }
  25% {
    border-image-source: linear-gradient(90deg, transparent, #07553B, transparent);
  }
  50% {
    border-image-source: linear-gradient(180deg, transparent, #07553B, transparent);
  }
  75% {
    border-image-source: linear-gradient(270deg, transparent, #07553B, transparent);
  }
  100% {
    border-image-source: linear-gradient(360deg, transparent, #07553B, transparent);
  }
}

.glow-border {
  border: 2px solid;
  border-radius: 0.75rem; /* match rounded-xl */
  border-image-slice: 1;
  animation: border-runner 5s linear infinite;
}

